[submodule "week-1-assignment-celal258"]
	path = week-1-assignment-celal258
	url = https://github.com/152-Modanisa-FullStack-Bootcamp/week-1-assignment-celal258
[submodule "week-2-assignment-celal258"]
	path = week-2-assignment-celal258
	url = https://github.com/152-Modanisa-FullStack-Bootcamp/week-2-assignment-celal258
[submodule "week-3-assignment-celalettindemir"]
	path = week-3-assignment-celalettindemir
	url = https://github.com/152-Modanisa-FullStack-Bootcamp/week-3-assignment-celalettindemir
